{% extends "layout.html" %}


{% block title %}

  <title>Tutor System - Class Distribution</title>

{% endblock %}


{% block main %}

      <div class="pagetitle">
        <h1>月課程分布</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item">Admins</li>
            <li class="breadcrumb-item active">Class Distribution</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section>

        <h5><strong><a href="https://drive.google.com/drive/folders/173hFO3ATenvUdLkk6MCjNjta0CO1rBja?usp=share_link" target="_blank">每月到課率表格</a></strong></h5>
        <small><em>https://drive.google.com/drive/folders/173hFO3ATenvUdLkk6MCjNjta0CO1rBja?usp=share_link</em></small>

      </section>


{% endblock %}