{% extends "layout.html" %}


{% block title %}

  <title>Tutor System - Classroom Management</title>

{% endblock %}


{% block main %}

      <div class="pagetitle">
        <h1>專業教室管理</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item">Lead & Senior Teachers</li>
            <li class="breadcrumb-item active">Classroom Management</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section>



      </section>


{% endblock %}