{% extends "layout.html" %}


{% block title %}

  <title>Tutor System - Daily Attendence Rate</title>

{% endblock %}


{% block main %}

      <div class="pagetitle">
        <h1>緊急加開</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item">Admins</li>
            <li class="breadcrumb-item active">Daily Attendence Rate</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section>

        <h5><strong><a href="https://drive.google.com/drive/folders/1WhxECftKcnctODHelbHYJi75r_mdcKLH?usp=sharing" target="_blank">到課率數據分析</a></strong></h5>
        <small><em>https://drive.google.com/drive/folders/1WhxECftKcnctODHelbHYJi75r_mdcKLH?usp=sharing</em></small>

      </section>


{% endblock %}