{% extends "layout.html" %}


{% block title %}

  <title>Tutor System - Edit Salary</title>

{% endblock %}


{% block main %}

      <div class="pagetitle">
        <h1>內部委任</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item">Admins</li>
            <li class="breadcrumb-item active">Edit Salary</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section>

        <h5><strong><a href="http://www.fun-day.com.tw/intranet/Case_application.aspx" target="_blank">紅網新增委任</a></strong></h5>
        <small><em>http://www.fun-day.com.tw/intranet/Case_application.aspx</em></small>
        <h5><strong><a href="http://www.fun-day.com.tw/intranet/Case_list.aspx" target="_blank">紅網委任查詢</a></strong></h5>
        <small><em>http://www.fun-day.com.tw/intranet/Case_list.aspx</em></small>
        <hr>
        <ul>
          <li>優化：整合新增委任、委任查詢</li>
        </ul>

      </section>

{% endblock %}