{% extends "layout.html" %}


{% block title %}

  <title>Tutor System - Home</title>

{% endblock %}


{% block main %}

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sub and Reply Badge -->
            <div class="col-12">
              <a href="{{url_for('sub')}}">
                <button type="btn" class="btn btn-info mb-2">
                  Sub <span class="badge bg-white text-info">10</span>
                </button>
              </a>
              <a href="{{url_for('reply')}}">
                <button type="btn" class="btn btn-warning mb-2">
                  Reply <span class="badge bg-white text-warning">3</span>
                </button>
              </a>
              <a href="http://www.fun-day.com.tw/intranet/class_timeline202203.aspx" target="_blank">
                <button type="btn" class="btn btn-secondary mb-2">Class Timeline</span>
                </button>
              </a>
            </div><!-- End Sub and Reply Badge -->

            <hr/>

            <!-- Punch In/Out Card -->
            <div class="col-sm-12">

              <div class="card info-card customers-card">

                <div class="card-body">
                  <h5 class="card-title">Punch In / Punch Out <span>| 14:00 - 23:00, Monday to Friday</span></h5>
                  <p><em>No <strong>punch in</strong> record on <strong>1 March, 2023</strong>. <a href="{{url_for('contact')}}"><u>Contact LCM</u></a></em></p>
                  <p><em>No <strong>punch out</strong> record on <strong>3 March, 2023</strong>. <a href="{{url_for('contact')}}"><u>Contact LCM</u></a></em></p>
                  
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#verticalycentered">
                    Punch
                  </button>
                  <div class="modal fade" id="verticalycentered" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Punch In / Out</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center">
                          <h4>14 March, 2023 | 13:58</h4>
                          <button class="btn btn-success">Punch In</button>
                          <button class="btn btn-success">Punch Out</button>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div><!-- End Vertically centered Modal-->
                </div>
              </div>

            </div><!-- End Punch In/Out Card -->

            <!-- Today's VIP/Coach -->
            <div class="col-xs-4 col-md-6">
              <div class="card">

                <div class="card-body">
                  <h5 class="card-title">VIP/Coach <span>| Today</span></h5>
                  
                  <ul class="list-group">
                    <li class="list-group-item" aria-current="true">
                      <p><strong><em>13 March, 20:00 - 20:50</em></strong></p>
                      <small><strong>Class Type: </strong><span>A2 VIP</span></small><br>
                      <small><strong>Class Title: </strong><span>VIP-Maggie</span></small>
                      <hr/>
                      <button type="btn" class="btn btn-primary">Open Class</button>
                    </li>
                  </ul>

                </div>

              </div>
            </div><!-- End Today's VIP/Coach -->


            <!-- Today's Classes -->
            <div class="col-xxl-6 col-md-6">
              <div class="card">

                <div class="card-body">
                  <h5 class="card-title">Regular Classes <span>| Today</span></h5>
                  
                  <ul class="list-group">
                    <li class="list-group-item list-group-item-secondary" aria-current="true">
                      <p><strong><em>13 March, 19:00 - 19:50</em></strong></p>
                      <small><strong>Class Type: </strong><span>A1 TC</span></small><br>
                      <small><strong>Class Title: </strong><span>Cats and Dogs</span></small>
                      <hr/>
                      <button type="btn" class="btn btn-light disabled">Open Class</button>
                    </li>
                    <li class="list-group-item">
                      <p><strong><em>13 March, 21:00 - 21:50</em></strong></p>
                      <small><strong>Class Type: </strong><span>A2 TC</span></small><br>
                      <small><strong>Class Title: </strong><span>Talk About Your Hometown</span></small>
                      <hr/>
                      <button type="btn" class="btn btn-primary">Open Class</button>
                    </li>
                  </ul>
                </div>

              </div>
            </div><!-- End Today's Classes -->

          </div>
        </div><!-- End Left side columns -->


        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- System Reminders -->
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">System Reminders</span></h5>

              <a href="{{url_for('schedule')}}"><div class="alert alert-danger" role="alert"><small><strong>4</strong> classes in <em>March</em> pending lesson plan submission</small></div></a>
              <a href="{{url_for('schedule')}}"><div class="alert alert-danger" role="alert"><small><strong>51</strong> classes in <em>April</em> pending lesson plan submission</small></div></a>

              <a href="{{url_for('schedule')}}"><div class="alert alert-warning" role="alert"><small><strong>2</strong> lesson plans pending correction</small></div></a>

              <a href="{{url_for('classlist')}}"><div class="alert alert-info" role="alert"><small><strong>2</strong> classes pending student evaluation</small></div></a>
              <a href="{{url_for('classlist')}}"><div class="alert alert-info" role="alert"><small><strong>3</strong> classes pending video upload</small></div></a>

            </div>
          </div><!-- End System Reminders -->

          <!-- Calendar -->
          <div class="card">
            <div class="card-body">
              <a href="{{url_for('schedule')}}"><h5 class="card-title">Schedule</h5></a>
              <img src="{{url_for('static', filename='assets/img/schedule.png')}}" class="img-fluid">
              <img src="{{url_for('static', filename='assets/img/schedule2.png')}}" class="img-fluid">
            </div>
          </div><!-- End Calendar -->

        </div><!-- End Right side columns -->

      </div>
    </section>

{% endblock %}