{% extends "layout.html" %}


{% block title %}

  <title>Tutor System - Message Board</title>

{% endblock %}


{% block main %}

      <div class="pagetitle">
        <h1>教師留言板</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item">Admins</li>
            <li class="breadcrumb-item active">Message Board</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section>



      </section>


{% endblock %}