{% extends "layout.html" %}


{% block title %}

  <title>Tutor System - Reply</title>

{% endblock %}


{% block main %}

      <div class="pagetitle">
        <h1>Reply to Student Requests of Opening Additional Classes</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item active">Reply</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section>



      </section>


{% endblock %}