{% extends "layout.html" %}


{% block title %}

  <title>Tutor System - Salary Details</title>

{% endblock %}


{% block main %}

      <div class="pagetitle">
        <h1>薪資單</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item">Admins</li>
            <li class="breadcrumb-item active">Salary Details</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section>

        <h5><strong><a href="http://www.fun-day.com.tw/intranet/pay_check.aspx">紅網薪資單</a></strong></h5>
        <small><em>http://www.fun-day.com.tw/intranet/pay_check.aspx</em></small>

      </section>

{% endblock %}