{% extends "layout.html" %}


{% block title %}

  <title>Tutor System - Schedule</title>

{% endblock %}


{% block main %}

      <div class="pagetitle">
        <h1>Schedule</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item">FUNDAY Teachers</li>
            <li class="breadcrumb-item active">Schedule</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section>



      </section>


{% endblock %}