{% extends "layout.html" %}


{% block title %}

  <title>Tutor System - Sub</title>

{% endblock %}


{% block main %}

      <div class="pagetitle">
        <h1>Substitute For On-Leave Teachers</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item active">Sub</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section>



      </section>


{% endblock %}