{% extends "layout.html" %}


{% block title %}

  <title>Tutor System - Teacher Training</title>

</script>

{% endblock %}


{% block main %}

      <div class="pagetitle">
        <h1>Teacher Training</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{url_for('index')}}">Home</a></li>
            <li class="breadcrumb-item">FUNDAY Teachers</li>
            <li class="breadcrumb-item active">Training</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section>

        <div class="row">
          <div class="col-lg-5">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">System Training Videos</h5>

                <!-- Accordion without outline borders -->
                <div class="accordion accordion-flush" id="accordionFlushExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        System Training - Open Class
                      </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <iframe src="https://drive.google.com/file/d/1k-HCb1GNDduJA7guYeLZTBfLKq7wDNGv/preview" width="400px" height="240px" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        System Training - Student Evaluation
                      </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <iframe src="https://drive.google.com/file/d/1f3llZ2c7wV1oKrtroE032iXEe2s_D5lW/preview" width="400px" height="240px" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        System Training - Upload Class Recording
                      </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <iframe src="https://drive.google.com/file/d/1x83OKwFLjpzMu1kTWH_jZf82TQ_FjPTh/preview" width="400px" height="240px" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        System Training - Report Issues on Synology
                      </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <iframe src="https://drive.google.com/file/d/1njFppjVCiZHbQTiXL6UICMzss1wHeRpI/preview" width="400px" height="240px" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFive">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                        System Training - Report Issues to LCM
                      </button>
                    </h2>
                    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <iframe src="https://drive.google.com/file/d/1VUye31EOvzuI8IqsNtlfQnqQS1K-gbHC/preview" width="400px" height="240px" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingSix">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                        System Training - Schedule Change Request
                      </button>
                    </h2>
                    <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                        <iframe src="https://drive.google.com/file/d/13a71hFqezroF1QXdcy33S6E8jqvi3B-n/preview" width="400px" height="240px" allowfullscreen></iframe>
                      </div>
                    </div>
                  </div>
                </div><!-- End Accordion without outline borders -->

              </div>
            </div>

            <div class="card">
              
              <div class="card-body">
                <h5 class="card-title">FUNDAY's Theory of ESL</h5>
                <iframe src="https://drive.google.com/file/d/19UV0yysD9UE_J8M9Oopbp7Qcl_PXvejl/preview" width="400px" height="240px" allowfullscreen></iframe>
              </div>

            </div>

          </div>

          <div class="col-lg-7">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">System Training Slides</h5>

                <div align="center">
                  <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vRu7Jg0g2ce_whjzA_5Uf2f4jV-gSGsBz7KbMsRPL9QI0qtJU6Z5A7WjujdYn1wH4O8XwLy24_nisQu/embed?start=false&loop=false&delayms=3000" frameborder="0" width="840px" height="660px" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
                </div>

              </div>
            </div>

          </div>

        </div>

      </section>

{% endblock %}